.title{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

.container{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;   
}

.line-chart{
    width: 50vw;
    height: 80vh;
    padding: 2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
}

.button{
    width: 100%;
    height: 2rem;
    margin: 1rem 0;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #003063;
    color: white;
    cursor: pointer;
}

span{
    font-size: 1rem;
    color: black;
    margin: 1rem 0;
    font-weight: 600;
}